<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="pkcs11_lib_path" value="C:\Program Files (x86)\EAC MW klient\pkcs11_x86.dll"/>
        <add key="SmardCardTokenLabel" value="Sig_ZEP"/>
        <add key="SigningCertificateLabel" value="Certifikat k podpisovemu klucu"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>