<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net46" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.11" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net46" />
  <package id="Prism.Unity" version="7.1.0.431" targetFramework="net46" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net46" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
  <package id="Unity" version="5.8.11" targetFramework="net46" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net46" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net46" />
</packages>